// Typefaces
$typeface-sans:  "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: "jubilat", Georgia, Cambria, "Times New Roman", Times, serif;

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
  line-height: 1.3;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  line-height: 1.35;
}
