.mod-logo {
  max-width: 250px;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
  }

  @include media($breakpoint-desktop) {
    max-width: 450px;
  }
}

.mod-date {
  margin-bottom: 1em;
  color: #666666;
  font-family: $typeface-serif;
  font-size: 1.5em;
  font-style: italic;
  text-shadow: 0 1px 1px white;

  @include media(480px) {
    font-size: 2.25em;
  }

  @include media($breakpoint-ipad) {
    font-size: 3em;
  }
}
