// Event Schedule
.mod-events {
  td {
    padding: 0.25em;
    border: none;
  }

  .time {
    padding-left: 0;
    text-align: right;
    white-space: nowrap;
  }

  .title {
    padding-right: 0;
  }
}
